<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\style.sss">
</head>
<body>
    <h1>Хочешь посмотреть случайный факт о технологических зависимостях?
        тебе сюда
        👇
    </h1>
    <a href="/random_fact">ТЫК!</a>
    <h1>А если хочешь бросить монетку то тебе сюды>👇</h1>
    <a href="/coin">мани мани мани</a>
</body>
</html>